body {
	font-family: "Times New Roman", Times, serif;
	margin: 0;
    background-color: #f0f8ff;
    color: #787c7f;
    
}

.hero{
    font-style: italic;
    font-weight: bold;
    
}

.about-me{
    font-weight: lighter;
    
}


h1{
   color:#6d7a84;
   font-weight: bold;
   font-family: Georgia;
   font-size:140%;
    
} 

h2{
   color:#6d7a84;
   font-weight: 300;
   font-family: Georgia;
   font-size:120%;
   font-style:italic;
    
    
}
img {
	display: block;
}

.img {
	max-width: 100%;
}

.firstcharacter {
	color:#677093;
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	}

fieldset {
	width: auto;
	height: auto;
	border: solid 0.05em;
	box-sizing: border-box;
}

legend {
	padding: 0.5em 0.5em;
	border: solid 0.1em;
	font-size: 90%;
	text-align: left;
}

textarea {
	width: auto;
	height: auto;
}

textarea:focus {
	background: pink;
}

input{
    font-family: "Times New Roman", Times, serif;
}

input:focus {
	background: pink;
}


button{
    background-color:aliceblue;
    color:#677093;
    border:none;
    padding: 1px 32px;
    text-align: center;
    font-size:16px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    
    
}


button:hover{
    background-color:#ffb6c1;
}

button:active{
    background-color:#FFD700;
}


.github {
  padding: 50px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.8;
}

/*  grids */

main {
	display: grid;
}

/* hero content */

.content {
	display: grid;
}

/* about content */

.about-content {
	display: grid;
}

/*  gallery */

.gallery {
	display: grid;
    
}

figure {
	display: grid;
}

/*  article */

article {
	display: grid;
}

/* form container */
.form-container {
	display: grid;
}

/* footer */

footer {
	display: grid;
    text-align: center;
}

/*  layout */

/*   mobile is the default layout*/

/* tablet layout >=48rem (768px) */

@media screen and (min-width: 48rem) {

	.mobile-first {
		display: none;
	}

	/* hero content */

	.content {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.content picture,
	.content p,
	.about-content {
		grid-column: 2/3;
	}

	/*	about content */

	/*	gallery */

	figure {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
	}

	figcaption {
		margin-left: 2rem;
	}

	/*	article */

	article,
	.form-container {
		grid-template-columns: 1fr 48rem 1fr;
	}

	article h1,
	.story-body,
    .blog-body,
	.form-container h2,
	form {
		grid-column: 2/3;
	}


	/*	form */


}

/* wide screen layout >=64rem (1024px) */

@media screen and (min-width: 64rem) {

	/*  hero content */

	/*	about content */

	/*	gallery */

	.gallery {
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		justify-items: center;

	}

	.gallery h1 {
		grid-column: 1/4;
	}
}